apiVersion: v1
kind: Namespace
metadata:
  name: slack-apps
  labels:
    app.kubernetes.io/name: slack-apps
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  namespace: slack-apps
  name: lols-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /v1/lols
    certmanager.k8s.io/cluster-issuer: letsencrypt-prod
spec:
  tls:
  - hosts:
    - appsbeta.thor-hansen.com
    secretName: lols-crt
  rules:
  - host: appsbeta.thor-hansen.com
    http:
      paths:
      - path: /v1/lols
        backend:
          serviceName: lols
          servicePort: 8800
---
apiVersion: v1
kind: Service
metadata:
  name: lols
  namespace: slack-apps
spec:
  selector:
    app: lols
  ports:
  - protocol: TCP
    port: 8800
    targetPort: 8800
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: slack-apps
  name: lols
  labels:
    app: lols
spec: 
  replicas: 1
  selector:
      matchLabels:
        app: lols
  template:
    metadata:
      labels:
        app: lols
    spec:
      containers:
      - name: lols
        image: quay.io/thorfour/lols:v1.0.0
        ports:
        - containerPort: 8800
---
apiVersion: certmanager.k8s.io/v1alpha1
kind: Certificate
metadata:
  name: lols-crt
  namespace: slack-apps
spec:
  secretName: lols-crt
  dnsNames:
  - appsbeta.thor-hansen.com
  acme:
    config:
    - http01:
        ingressClass: nginx
      domains:
      - appsbeta.thor-hansen.com
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
